<!-- <p>{{quote.quoteby}}</p> -->
<!-- <p>Uploader: {{quote.uploadby}}</p> -->
<!-- <p>{{quote.showAuthor}}</p> -->
<p>This quote was uploaded {{quote.completeDate|dateCount}} days ago.</p>
<div class="container">
    <div class="row">
        <div class="col">
            <p>Up votes :{{quote.upvote}}</p>
            <i type="button" class="btn btn-outline-warning" (click)="upvote()">Upvote</i>
        </div>

        <div class="col">
            <p>Down votes :{{quote.downvote}}</p>
            <i type="button" class="btn btn-outline-danger" (click)="downvote()">Downvote</i><br>
        </div>

        <button (click)='quoteDelete(true)' class="btn btn-outline-primary">Delete</button>
    </div>
</div>